<%= form_for(@watcher) do |f| %>
  <% if @watcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@watcher.errors.count, "error") %> prohibited this watcher from being saved:</h2>

      <ul>
      <% @watcher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :game %><br />
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
