<div class="content">
<h1>Enter a game and price to watch</h1>
    <%= form_for(@watcher) do |f| %>
      <% if @watcher.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@watcher.errors.count, "error") %> prohibited this watcher from being saved:</h2>

          <ul>
          <% @watcher.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="span5 field">
        <%= f.label :game_name %><br />
        <%= f.autocomplete_field :game_name, 
        autocomplete_game_name_watchers_path %>
      </div>

       <div class="span5 field">
        <%= f.label :price %><br />
        <%= f.text_field :price %>
      </div>


      <div class="span12 field">
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </div>


      <div class="span12 actions">
        <%= f.submit %>
      </div>
    <% end %>
<p id="notice"><%= notice %></p>
    </div>