
  <div class="center">
    <h2>Steam-Watch</h2>
  </div>
    <%= form_for(@watcher) do |f| %>
      <% if @watcher.errors.any? %>
        <div id="error_explanation">
          <ul>
          <% @watcher.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form" >
         <div class=" field">
         <%= f.label :game_name %>
          <%= f.collection_select :game_name, Game.order(:name),:id,:name %>
        </div>

         <div class=" field">
          <%= f.label :price %>
          <%= f.text_field :price %>
        </div>
      
        <div class="field">
          <%= f.label :email %>
          <%= f.text_field :email %>
        </div>

      <div class="actions">
        <%= f.submit %>
      </div>
      </div>
    <% end %>
<h4 id="notice"><%= notice %></h4>
</div>